<div id="add_to_folder_form_modal" class="modal">
    <div class="modal-content">
        <select name="folders" size="1" id="user_folders_list">
            <option value="new_folder">new Folder</option>
        </select>
    </div>
    <div class="modal-footer">
        <button id="add_to_folder_submit" class="modal-close waves-effect waves-green btn-flat">Confirm</button>
    </div>
</div>