<span class=nobr id="refresh_articles_button"> </span>
<h1 id="feed_title"> Feed: <%= feedTitle %></h1>
<h4 id="number_of_articles"> Number of articles: <%= numberOfArticles %></h4>
<ul class="collection" id="article_list"></ul>