<span id="no_feed_message"  class="helper-text" data-error="wrong" data-success="right"> you have no subscriptions </span>
<ul class="collection" id="feeds_list"></ul>
<button id="add_to_folder" class="waves-effect waves-light btn">Add to folder</button>
<div id="add_to_folder_modal"></div>
