<nav id="nav_bar">
    <div class="nav-wrapper">
        <button id=login type="submit" class="waves-effect waves-light btn">Login</button>
        <button id=signup type="submit" class="waves-effect waves-light btn">Sign up</button>
    </div>
</nav>

<div id="form"></div>