<nav id="nav_bar">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i class="material-icons">cloud</i>Simple RSS</a>
        <ul class="right hide-on-med-and-down">
            <button id=login type="submit" class="waves-effect waves-light btn">Login</button>
            <button id=signup type="submit" class="waves-effect waves-light btn">Sign up</button>
        </ul>
    </div>
</nav>
