<nav id="nav_bar">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i class="material-icons">cloud</i>Simple RSS</a>
        <ul class="right hide-on-med-and-down">
            <li> <a id="logout_button"></a> </li>
        </ul>
    </div>
</nav>
