<div id="unsubscribe_confirmation" class="modal">
    <div class="modal-content">
        <h4>Do you really want to unsubscribe?</h4>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>