<div id="unsubscribe_confirmation" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <button id="confirm" class="modal-close waves-effect waves-green btn-flat">Confirm</button>
        <button id="cancel" class="modal-close waves-effect waves-red btn-flat">Cancel</button>
    </div>
</div>