<h4 class="modal-title">New folder</h4>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="input_name" type="text" class="validate">
                <label for="name">name</label>
            </div>
        </div>
    </form>
</div>
